<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrg20.menuing_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CheckMealsActivity" />
        <activity android:name=".activities.UserProfile" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".GetMealPageActivity" />
        <activity android:name=".MealScheduleActivity" />
        <activity android:name=".NutritionistsListActivity" />
        <activity android:name=".NutritionistChat" />
        <activity android:name=".activities.MonthlyDietActivity" />
        <activity android:name=".activities.WeeklyDietActivity" />
        <activity android:name=".activities.MealDetails" />
        <activity android:name=".activities.RecipeDetails" />
        <activity android:name=".MealHour"></activity>
        <activity android:name=".activities.TastesActivity" />
        <activity android:name=".activities.AllergiesActivity" />
        <activity android:name=".activities.TermsAndConditionActivity"/>
        <activity android:name=".activities.ShoppingListActivity"/>
    </application>

</manifest>